.footer {
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}

.footer-logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
text-decoration: none;
cursor: pointer;
display: block;
margin-bottom: 20px;

}

.footer-studio {
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-contacts {
  margin: auto;
  text-align: center;
    @include desktop {
 margin: 0;
 text-align: left
 ;
}
}


.adress {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
display: block;
margin-bottom: 9px;

}

.nav-site-footer {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
display: block;
margin-bottom: 9px;
}

.nav-tel-footer {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
display: block;
}

.footer-join {
  display: block;
//  
margin-top: 60px;
   @include tablet {
  margin-top: 0;
  }
  @include desktop {
  margin-left: 70px;
  }
}

// .adr-join {
//    @include tablet {
//     width: calc(( 100% - 60px ) / 2);
// }
// }


.common {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
   @include mobile {
    width: 480px;
  }

   @include tablet {
    width: 768px;
    flex-direction: row;
    gap: 167px;
    align-items: baseline;
  }

   @include desktop {
  width: 1200px;
  gap: 0;
  
}

}


.footer-join-title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
text-align: center;
 @include tablet {
  padding-top: 5px;
 }
}

.footer-join-soc-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  gap: 10px;
}





.footer-join-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;  
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  
}

.footer-join-soc-item :hover,
.footer-join-soc-item :focus {
  background-color: var(--hover-color);
}

.subscribe {

display: flex;
justify-content: center;
margin-top: 60px;
 @include tablet {
  margin: auto;
  }
   @include desktop {
margin-left: 98px;
}
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subscribe-title {
 font-weight: 700;
font-size: 14px;
line-height:var(--line-height-1416) ;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
  margin-bottom: 15px;
   @include desktop {
  text-align: left;
  }
}

.subscribe-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   @include mobile {
    width: 480px;
    margin: auto;
   }

   @include tablet {
    flex-direction: column;
   }

    @include desktop {
      display: flex;
     flex-direction: row;
     width: auto;
    
  }
}

.subscribe-input {
width: calc(100% - 15px);
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: #2F303A;
padding: 15px 16px;
// 
color: #FFFFFF;
 @include mobile {
max-width: 450px; 
}

 @include tablet {
  width: 768px;
  margin: 0 auto 20px auto ;
 }

    @include desktop {
  margin-right: 12px;
  width: 358px;
  margin-left: 0
}
}

.subscribe-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
border-style: none;
margin-top: 20px;
cursor: pointer;
 @include tablet {
margin: auto;
}
 @include desktop {
  margin: 0;

  }
}
.subscribe-button-text {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
margin-right: 10px;
}

.button-icon {
  fill: #FFFFFF;
}
