header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;

}

.flex-container {
display: flex;
align-items: center;

}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}


.navigation {
  display:flex;
  align-items: center;
}


.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 24px;
line-height: calc(31 / 26);
text-decoration: none;
cursor: pointer;

  @include mobile {

  }

  @include desktop {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
text-decoration: none;
cursor: pointer;
  }
}

.logo__web {
  font-weight: 700;
  // font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__studio {
  font-weight: 700;
  // font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.menu {
display:none;
  @include mobile{
   display: none;
  } 
  @include tablet {
   font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  margin-bottom: 0;
  margin-left: 90px;
  gap: 50px;
    display:flex;
  }

  @include desktop {
     font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  margin-bottom: 0;
  margin-left: 93px;
  gap: 50px;
    display:flex;
  }
}

.menu__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--main-text-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 33px;
  transition-property:var(--hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  &:hover {
  color: var(--hover-color);
}
&:focus {
  color:var(--focus-color);
}
}




.menu .menu__item.current {
    color: var(--focus-color);
}



.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--focus-color);
  border-radius: 2px;
}

.contacts{
display: none;
  @include mobile {
display: none;
  }

  @include tablet {
width: auto;
margin-left: auto;
display: flex;
flex-direction: column;
gap:10px;
  }

  @include desktop {
margin-left: auto;
display: flex;
flex-direction: row;
gap:30px;
  }

}

.contacts__mail{
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  @include mobile {
    font-size: 12px;
  }
  @include tablet {
    font-size: 12px;
  }
  &:hover,
  &:focus {
  color:var(--hover-color);
}
}

.contacts__Micon {  
  display: flex;
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  &:hover,
  &:focus {
  fill: var(--hover-color);
}
}

.contacts__Ticon {  
  display: flex;
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
  transition-property:var(--hover-color), fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
}

.contacts__tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property:color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  @include mobile {
    font-size: 12px;
  }
  @include tablet {
    font-size: 12px;
  }

  @include desktop {
     font-size: 14px;
  }
  &:hover,
  &:focus {
  color: var(--hover-color);
}
}

.sendwich-button {
  
  margin-left: auto;
  background-color: transparent;
  border: none;
  @include tablet {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top:0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 4;
   padding-top: 48px;
   padding-bottom: 48px;
  >.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

}


.mob-menu-list{
  list-style:none;

}
.mob-menu__link {
font-weight: 500;
font-size: 40px;
line-height: calc(47 /40);
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;
&:hover {
  color: var(--hover-color);
}
  &:focus {
  color:var(--focus-color);
}
}

.mob-menu__item:not(:last-child){
margin-bottom: 30px;
}



// .mob-contacts {
// }
.mob-contacts__tel {
font-weight: 500;
font-size: 34px;
line-height: calc(40 / 34);
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
margin-top: 50px;
display: block;
}
 .mob-contacts__mail {
  font-weight: 500;
font-size: 24px;
line-height: calc(28 / 24);
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
display: block;
margin-top: 30px;
margin-bottom: 60px;
}

// .mob-social-wrap {

// }
.mob-social__list {
 list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 10px;
}
.mob-social__item {
width: auto;
text-align: center;
 
}

.mob-social__item:not(:last-child){
  &::after {
    content: "";
    width: 22px;
    height: 0;
   border: 1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
  }

}

.mob-social__link {
  text-decoration: none; 
   font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
 padding-right: 10px;
 }

.mob-close-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left:auto;
 display:flex;
 align-items: center;
  justify-content: center;
  &:hover {
  color: var(--hover-color);
}
  &:focus {
  color:var(--focus-color);
}
}



// .icon-menu-close {
// }